<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Hahshtable Genome Assembler</title>
</head>
<body>

{{>bsnavbar}}

<div class="container">
    {{{body}}}
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
