<div class="page-header">
    <h3>Hashtable Genome Asselbler</h3>
</div>
<form class="form-horizontal" role="form"
      enctype="multipart/form-data" method="POST" id="fileupload"
      action="/file-upload">
    <!--<div class="form-group">
        <div class="ck-button">
            <label>
                <input type="checkbox" id="cb1" value="1"><span>Heliobakter.fna</span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="ck-button">
            <label>
                <input type="checkbox" id="cb2" value="1"><span>Heliobakter with artificial repeat</span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="ck-button">
            <label>
                <input type="checkbox" id="cb3" value="1"><span>test.fna</span>
            </label>
        </div>
    </div>-->
    <div class="form-group">
        <label for="fastaFile" class="col-sm-2 control-label"> File:
        </label>
        <div class="col-sm-4">
            <select id="fastaFile" name = "selected file">
                <option value="Heliobakter">Heliobakter</option>
                <option value="Heliobakter with artificial repeat">Heliobakter with artificial repeat</option>
                <option value="Homo Sapiens">Homo Sapiens</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="fieldName" class="col-sm-2 control-label"> Max Extension Length:
        </label>
        <div class="col-sm-4">
            <!--<input type="text" class="form-control" id="fieldName"-->
                   <!--name="name" placeholder="1">-->
            <label>1</label>
        </div>
    </div>
    <div class="form-group">
        <label for="MaxCFLen" class="col-sm-2 control-label"> Max Conflict Search Length:
        </label>
        <div class="col-sm-4">
            <input type="number"  class="form-control"
                   required id="MaxCFLen" name="Max Conflict Search Length" placeholder="10">
        </div>
    </div>

    <!--<div class="form-group">
    <label for="fieldPhoto" class="col-sm-2 control-label">
    FASTA </label>
    <div class="col-sm-4">

    &lt;!&ndash; Only accept images &ndash;&gt;
    <input type="file" class="form-control" required
    accept="image/*" id="fieldPhoto" name="photo">
    </div>-->
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>

<!--<script>
    document.getElementById("fileupload").addEventListener("submit", onSubmit);
    function onSubmit(event){
        event.preventDefault();
    $.ajax({
        method: "POST",
        url: "/file-upload",
        success: function(data){console.log(data);},
        data: $(event.target).serialize()
    })};
</script>-->

