<div class="page-header">
    <h3>Hashtable Genome Assembler</h3>
</div>

<form class="form-horizontal" role="form"
      enctype="multipart/form-data" method="POST" id="fileupload"
      action="/file-upload">
    <div class="form-group">
        <label for="fastaFile" class="col-sm-2 control-label"> File:
        </label>
        <div class="col-sm-4">
            <select id="fastaFile" name = "selected file">
                <option value="Heliobakter">Heliobakter</option>
                <option value="Heliobakter with artificial repeat">Heliobakter with artificial repeat</option>
                <option value="Homo Sapiens">Homo Sapiens</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="fieldName" class="col-sm-2 control-label"> Max Extension Length:
        </label>
        <div class="col-sm-4">
            <label>1</label>
        </div>
    </div>
    <div class="form-group">
        <label for="MaxCFLen" class="col-sm-2 control-label"> Max Conflict Search Length:
        </label>
        <div class="col-sm-4">
            <input type="number"  class="form-control"
                   required id="MaxCFLen" name="Max Conflict Search Length" placeholder="number from 2-20">
        </div>
    </div>
    </div>
    <div class="form-group" id="submit">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit"  class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>
<script>$("#submit").click(function(){$(".form-horizontal").append("<p>Just a moment...</p>")});</script>