<script id="built-in-helpers-template" type="text/x-handlebars-template">
    {{#each animals}}
        <p>
            The {{capitalize this.name}} says
            {{#if this.noise}}
                "{{this.noise}}".
            {{else}}
                nothing since its a {{this.name}}.
            {{/if}}
        </p>
    {{/each}}

    <p>
        "StartRead
    </p>
</script>

<div class="content-placeholder"></div>