<div class="page-header">
    <button id = "next" class="btn btn-primary" style="margin-top:15px">Next Step</button>
</div>

<div class = "header" id = "ext">
</div>
<div class="extentions">
    <p id = "init">   </p>
</div>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<script src="/static/js/visualization.js"></script>